<!-- chat.component.html -->
<div class="flex items-center rounded-lg shadow-md justify-center h-screen w-screen">
  <div class="flex flex-col h-full md:h-5/6 w-full md:w-11/12">
    <!-- Header -->
    <mat-toolbar color="primary" class="flex items-center justify-between md:rounded-t-lg md:rounded-tr-lg">
      <span class="!text-lg !font-bold">Chat App</span>
      <div class="flex items-center">
        <button mat-icon-button aria-label="Settings" (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </mat-toolbar>
  
    <!-- Chat Window -->
    <div #scroll class="flex-1 overflow-auto p-4 scroll-smooth">
      <div class="flex flex-col space-y-4">
        @for (msg of messagesList; track msg) {
          <div *ngIf="getMessageUsernameVisibility(msg)" class="notme-username">
            <p> {{ msg.who.username }} </p>
          </div>
          <div [ngClass]="getMessageCssClassDef(msg)">
            <p> {{ msg.what.content }} </p>
          </div>
          <div *ngIf="getMessageDateVisibility(msg)" [ngClass]="getMessageDateCssClassDef(msg)">
            <p> {{ msg.when | date: 'shortTime' }} </p>
          </div>
        }
      </div>
    </div>
  
    <!-- Message Input -->
    <div class="p-4 bg-gray-100 border-t md:rounded-b-lg md:rounded-br-lg border-gray-300 flex items-center">
      <mat-form-field class="flex-grow">
        <mat-label>Type a message</mat-label>
        <input matInput [formControl]="chatMessage" (keyup.enter)="sendMessage()">
        <button mat-icon-button (click)="sendMessage()" matSuffix color="primary" class="ml-2" aria-label="Send">
            <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
</div>
